.root {
    /*default font */
    -fx-font-family: 'Helvetica Neue';

    -blue: rgb(0.0, 184.0, 222.0);
}

.progress-bar:determinate > .track {
    -fx-background-color: null;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.progress-bar:determinate > .bar {
    -fx-background-color: derive(-blue, -20%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: derive(-blue, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}